node-red/flows.json
[
    {
        "id": "bf163cd5.f84c",
        "type": "tab",
        "label": "Office Light Button",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4c3e78a1.ebb138",
        "type": "tab",
        "label": "Master Bedroom Light Button",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7b5378f9.154968",
        "type": "tab",
        "label": "Kitchen Light Button",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1d296556.09592b",
        "type": "tab",
        "label": "Foyer Motion",
        "disabled": false,
        "info": ""
    },
    {
        "id": "62ce34cf.a7671c",
        "type": "tab",
        "label": "Upstairs Hallway Motion",
        "disabled": false,
        "info": ""
    },
    {
        "id": "35ab222c.a6eb9e",
        "type": "tab",
        "label": "Downstairs Hallway Motion",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e9868773.797078",
        "type": "tab",
        "label": "Front Door Entry/Exit",
        "disabled": false,
        "info": ""
    },
    {
        "id": "884319a9.e92148",
        "type": "tab",
        "label": "Kitchen Door Entry/Exit",
        "disabled": false,
        "info": ""
    },
    {
        "id": "390fc521.dffd0a",
        "type": "tab",
        "label": "Living Room Media",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3aefc8fa.f61958",
        "type": "tab",
        "label": "Relinquish to Motion",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c35af4f2.4cd108",
        "type": "tab",
        "label": "Phone Location",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2f5bd1e0.67e40e",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    },
    {
        "id": "3cae343.22b5bcc",
        "type": "server-events",
        "z": "bf163cd5.f84c",
        "name": " Deconz Event (any)",
        "server": "2f5bd1e0.67e40e",
        "event_type": "deconz_event",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "d23b825e.b2605"
            ]
        ]
    },
    {
        "id": "d23b825e.b2605",
        "type": "switch",
        "z": "bf163cd5.f84c",
        "name": "Is Office Button?",
        "property": "payload.event.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "button_st_office",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 120,
        "y": 520,
        "wires": [
            [
                "3e59fa2.e73b206"
            ]
        ]
    },
    {
        "id": "3b8bc8cf.939ae8",
        "type": "api-call-service",
        "z": "bf163cd5.f84c",
        "name": "Toggle office lights",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "toggle",
        "entityId": "group.office",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 550,
        "y": 520,
        "wires": [
            [
                "ac86b665.134f48"
            ]
        ]
    },
    {
        "id": "3e59fa2.e73b206",
        "type": "switch",
        "z": "bf163cd5.f84c",
        "name": "Is press?",
        "property": "payload.event.event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1002",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 340,
        "y": 520,
        "wires": [
            [
                "3b8bc8cf.939ae8"
            ]
        ],
        "info": "### Samsung button event codes\n - 1001: Long press\n - 1002: Single press\n - 1004: Double press"
    },
    {
        "id": "ac86b665.134f48",
        "type": "api-call-service",
        "z": "bf163cd5.f84c",
        "name": "Log execution to HA logbook",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "logbook",
        "service": "log",
        "entityId": "",
        "data": "{\"name\":\"node-red\",\"message\":\"Office Light Button flow executed successfully.\",\"domain\":\"automation\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 840,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "a30fb6e1.491408",
        "type": "server-events",
        "z": "4c3e78a1.ebb138",
        "name": " Deconz Event (any)",
        "server": "2f5bd1e0.67e40e",
        "event_type": "deconz_event",
        "x": 90,
        "y": 460,
        "wires": [
            [
                "aad4aa21.577a98"
            ]
        ]
    },
    {
        "id": "aad4aa21.577a98",
        "type": "switch",
        "z": "4c3e78a1.ebb138",
        "name": "Is Master Bedroom Button?",
        "property": "payload.event.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "button_st_master_bedroom",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 120,
        "y": 580,
        "wires": [
            [
                "b3772296.72252"
            ]
        ]
    },
    {
        "id": "52b13ab7.819424",
        "type": "api-call-service",
        "z": "4c3e78a1.ebb138",
        "name": "Toggle master bedroom lights",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "toggle",
        "entityId": "group.master_bedroom",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 570,
        "y": 580,
        "wires": [
            [
                "17f19bed.57f464"
            ]
        ]
    },
    {
        "id": "b3772296.72252",
        "type": "switch",
        "z": "4c3e78a1.ebb138",
        "name": "Is press?",
        "property": "payload.event.event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1002",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 340,
        "y": 580,
        "wires": [
            [
                "52b13ab7.819424"
            ]
        ],
        "info": "### Samsung button event codes\n - 1001: Long press\n - 1002: Single press\n - 1004: Double press"
    },
    {
        "id": "17f19bed.57f464",
        "type": "api-call-service",
        "z": "4c3e78a1.ebb138",
        "name": "Log execution to HA logbook",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "logbook",
        "service": "log",
        "entityId": "",
        "data": "{\"name\":\"node-red\",\"message\":\"Master Bedroom Light Button flow executed successfully.\",\"domain\":\"automation\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 880,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "b5afe504.c99e68",
        "type": "server-events",
        "z": "7b5378f9.154968",
        "name": " Deconz Event (any)",
        "server": "2f5bd1e0.67e40e",
        "event_type": "deconz_event",
        "x": 90,
        "y": 440,
        "wires": [
            [
                "50780152.d8fb8"
            ]
        ]
    },
    {
        "id": "50780152.d8fb8",
        "type": "switch",
        "z": "7b5378f9.154968",
        "name": "Is Kitchen Button?",
        "property": "payload.event.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "button_st_kitchen",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 90,
        "y": 560,
        "wires": [
            [
                "57754fcc.df72e"
            ]
        ]
    },
    {
        "id": "e1166209.a2d2e",
        "type": "api-call-service",
        "z": "7b5378f9.154968",
        "name": "Toggle kitchen lights",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "toggle",
        "entityId": "group.kitchen",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 520,
        "y": 560,
        "wires": [
            [
                "5c4fa7d4.fd52b8"
            ]
        ]
    },
    {
        "id": "57754fcc.df72e",
        "type": "switch",
        "z": "7b5378f9.154968",
        "name": "Is press?",
        "property": "payload.event.event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1002",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 300,
        "y": 560,
        "wires": [
            [
                "e1166209.a2d2e"
            ]
        ],
        "info": "### Samsung button event codes\n - 1001: Long press\n - 1002: Single press\n - 1004: Double press"
    },
    {
        "id": "5c4fa7d4.fd52b8",
        "type": "api-call-service",
        "z": "7b5378f9.154968",
        "name": "Log execution to HA logbook",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "logbook",
        "service": "log",
        "entityId": "",
        "data": "{\"name\":\"node-red\",\"message\":\"Kitchen Light Button flow executed successfully.\",\"domain\":\"automation\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 800,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "948486bf.0ffe48",
        "type": "server-state-changed",
        "z": "1d296556.09592b",
        "name": "Foyer Motion Event",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "entityidfilter": "binary_sensor.motion_sensor_hue_foyer",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "jsonata",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 110,
        "y": 440,
        "wires": [
            [
                "cd526cf1.d6312"
            ]
        ]
    },
    {
        "id": "cd526cf1.d6312",
        "type": "switch",
        "z": "1d296556.09592b",
        "name": "Motion On or Off?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 150,
        "y": 580,
        "wires": [
            [
                "881f2136.3abd6",
                "1e3cfe7.c8f8702"
            ],
            [
                "af9ec202.685c7"
            ]
        ]
    },
    {
        "id": "7c5a2e5c.bd53",
        "type": "api-current-state",
        "z": "1d296556.09592b",
        "name": "Light not on yet?",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "override_topic": false,
        "entity_id": "light.foyer",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 630,
        "y": 500,
        "wires": [
            [
                "442100ee.26b29",
                "37b07451.e12c2c"
            ],
            []
        ]
    },
    {
        "id": "37b07451.e12c2c",
        "type": "api-call-service",
        "z": "1d296556.09592b",
        "name": "Turn on light",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.foyer",
        "data": "{\"brightness_pct\":100}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 910,
        "y": 520,
        "wires": [
            [
                "4160fc3e.761454"
            ]
        ]
    },
    {
        "id": "d2caa878.c990f8",
        "type": "change",
        "z": "1d296556.09592b",
        "name": "Stop timer msg",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 620,
        "wires": [
            [
                "c6f41175.b52d8"
            ]
        ]
    },
    {
        "id": "c6f41175.b52d8",
        "type": "stoptimer",
        "z": "1d296556.09592b",
        "duration": "5",
        "units": "Minute",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "",
        "x": 680,
        "y": 700,
        "wires": [
            [
                "c4018f.d5e0ee7",
                "9ffcaf57.a5da"
            ],
            []
        ]
    },
    {
        "id": "c4018f.d5e0ee7",
        "type": "api-call-service",
        "z": "1d296556.09592b",
        "name": "Turn off light",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.foyer",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 910,
        "y": 700,
        "wires": [
            [
                "4160fc3e.761454"
            ]
        ]
    },
    {
        "id": "442100ee.26b29",
        "type": "change",
        "z": "1d296556.09592b",
        "name": "Mark light on by motion",
        "rules": [
            {
                "t": "set",
                "p": "did_turn_light_on",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "af9ec202.685c7",
        "type": "switch",
        "z": "1d296556.09592b",
        "name": "Is on from motion?",
        "property": "did_turn_light_on",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 390,
        "y": 700,
        "wires": [
            [
                "c6f41175.b52d8"
            ]
        ]
    },
    {
        "id": "881f2136.3abd6",
        "type": "api-current-state",
        "z": "1d296556.09592b",
        "name": "Is dark?",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "outputs": 2,
        "halt_if": "below_horizon",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "sun.sun",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 360,
        "y": 540,
        "wires": [
            [
                "7c5a2e5c.bd53",
                "d2caa878.c990f8"
            ],
            []
        ]
    },
    {
        "id": "9ffcaf57.a5da",
        "type": "change",
        "z": "1d296556.09592b",
        "name": "Clear light on by motion or user",
        "rules": [
            {
                "t": "set",
                "p": "did_turn_light_on",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "4160fc3e.761454",
        "type": "api-call-service",
        "z": "1d296556.09592b",
        "name": "Log execution to HA logbook",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "logbook",
        "service": "log",
        "entityId": "",
        "data": "{\"name\":\"node-red\",\"message\":\"Foyer Motion flow executed successfully.\",\"domain\":\"automation\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1180,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "802a930e.b1d55",
        "type": "server-state-changed",
        "z": "1d296556.09592b",
        "name": "Was light turned off by this or user?",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "light.foyer",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 640,
        "y": 820,
        "wires": [
            [
                "9ffcaf57.a5da"
            ],
            []
        ]
    },
    {
        "id": "8197cbd2.35fcd8",
        "type": "server-state-changed",
        "z": "62ce34cf.a7671c",
        "name": "Foyer Motion Event",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.motion_sensor_eco_upstairs_hallway",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "jsonata",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 90,
        "y": 540,
        "wires": [
            [
                "fb3e86e1.e68a28"
            ]
        ]
    },
    {
        "id": "fb3e86e1.e68a28",
        "type": "switch",
        "z": "62ce34cf.a7671c",
        "name": "Motion On or Off?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 130,
        "y": 680,
        "wires": [
            [
                "ad0c1937.a3d408",
                "e2377e7b.8d444"
            ],
            [
                "eb2fd5d5.268818"
            ]
        ]
    },
    {
        "id": "7a861800.e44a98",
        "type": "api-current-state",
        "z": "62ce34cf.a7671c",
        "name": "Light not on yet?",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "override_topic": false,
        "entity_id": "group.upstairs_hallway",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 610,
        "y": 600,
        "wires": [
            [
                "dd8ba79c.bea668",
                "55c8cbae.a6c8e4"
            ],
            []
        ]
    },
    {
        "id": "7f74d9fe.189ad8",
        "type": "api-call-service",
        "z": "62ce34cf.a7671c",
        "name": "Turn on light (max)",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "group.upstairs_hallway",
        "data": "{\"brightness_pct\":100}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1070,
        "y": 700,
        "wires": [
            [
                "d9ab294f.c1d178"
            ]
        ]
    },
    {
        "id": "ba91b17f.0c531",
        "type": "change",
        "z": "62ce34cf.a7671c",
        "name": "Stop timer msg",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 720,
        "wires": [
            [
                "cfe91e14.483f7"
            ]
        ]
    },
    {
        "id": "cfe91e14.483f7",
        "type": "stoptimer",
        "z": "62ce34cf.a7671c",
        "duration": "2",
        "units": "Minute",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "",
        "x": 660,
        "y": 800,
        "wires": [
            [
                "dc2ca952.cc4cb8",
                "d36ab12a.bf533"
            ],
            []
        ]
    },
    {
        "id": "dc2ca952.cc4cb8",
        "type": "api-call-service",
        "z": "62ce34cf.a7671c",
        "name": "Turn off light",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "group.upstairs_hallway",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1030,
        "y": 820,
        "wires": [
            [
                "d9ab294f.c1d178"
            ]
        ]
    },
    {
        "id": "dd8ba79c.bea668",
        "type": "change",
        "z": "62ce34cf.a7671c",
        "name": "Mark light on by motion",
        "rules": [
            {
                "t": "set",
                "p": "did_turn_light_on",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "eb2fd5d5.268818",
        "type": "switch",
        "z": "62ce34cf.a7671c",
        "name": "Is on from motion?",
        "property": "did_turn_light_on",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 370,
        "y": 800,
        "wires": [
            [
                "cfe91e14.483f7"
            ]
        ]
    },
    {
        "id": "ad0c1937.a3d408",
        "type": "api-current-state",
        "z": "62ce34cf.a7671c",
        "name": "Is dark?",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "outputs": 2,
        "halt_if": "below_horizon",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "sun.sun",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 360,
        "y": 640,
        "wires": [
            [
                "7a861800.e44a98",
                "ba91b17f.0c531"
            ],
            []
        ]
    },
    {
        "id": "d36ab12a.bf533",
        "type": "change",
        "z": "62ce34cf.a7671c",
        "name": "Clear light on by motion or user",
        "rules": [
            {
                "t": "set",
                "p": "did_turn_light_on",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "d9ab294f.c1d178",
        "type": "api-call-service",
        "z": "62ce34cf.a7671c",
        "name": "Log execution to HA logbook",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "logbook",
        "service": "log",
        "entityId": "",
        "data": "{\"name\":\"node-red\",\"message\":\"Upstairs Hallway Motion flow executed successfully.\",\"domain\":\"automation\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1380,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "218b1457.7387ac",
        "type": "server-state-changed",
        "z": "62ce34cf.a7671c",
        "name": "Was light turned off by this or user?",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "group.upstairs_hallway",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 620,
        "y": 920,
        "wires": [
            [
                "d36ab12a.bf533"
            ],
            []
        ]
    },
    {
        "id": "55c8cbae.a6c8e4",
        "type": "time-range-switch",
        "z": "62ce34cf.a7671c",
        "name": "Is night-light time?",
        "lat": "",
        "lon": "",
        "startTime": "21:00",
        "endTime": "05:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 850,
        "y": 660,
        "wires": [
            [
                "100c1cb7.820a43"
            ],
            [
                "7f74d9fe.189ad8"
            ]
        ]
    },
    {
        "id": "100c1cb7.820a43",
        "type": "api-call-service",
        "z": "62ce34cf.a7671c",
        "name": "Turn on light (dim)",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "group.upstairs_hallway",
        "data": "{\"brightness\":1}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1070,
        "y": 620,
        "wires": [
            [
                "d9ab294f.c1d178"
            ]
        ]
    },
    {
        "id": "bacb1514.190848",
        "type": "comment",
        "z": "bf163cd5.f84c",
        "name": "Samsung button event codes",
        "info": "### Samsung button events\n - 1001: Long press\n - 1002: Single press\n - 1004: Double press",
        "x": 360,
        "y": 280,
        "wires": []
    },
    {
        "id": "685a42b7.cb068c",
        "type": "comment",
        "z": "4c3e78a1.ebb138",
        "name": "Samsung button event codes",
        "info": "### Samsung button events\n - 1001: Long press\n - 1002: Single press\n - 1004: Double press",
        "x": 340,
        "y": 320,
        "wires": []
    },
    {
        "id": "f42dda3.af91b28",
        "type": "comment",
        "z": "7b5378f9.154968",
        "name": "Samsung button event codes",
        "info": "### Samsung button events\n - 1001: Long press\n - 1002: Single press\n - 1004: Double press",
        "x": 340,
        "y": 300,
        "wires": []
    },
    {
        "id": "71b10af6.310b44",
        "type": "server-state-changed",
        "z": "e9868773.797078",
        "name": "Foyer Motion Event",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.multi_sensor_st_front_door_openclose",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "jsonata",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 90,
        "y": 560,
        "wires": [
            [
                "ed05a9af.2d13e8"
            ]
        ]
    },
    {
        "id": "ed05a9af.2d13e8",
        "type": "switch",
        "z": "e9868773.797078",
        "name": "Motion On or Off?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 130,
        "y": 740,
        "wires": [
            [
                "a9c95ae4.58e688",
                "173f58f.68101a7"
            ],
            [
                "564a61f6.d4c24",
                "330b6021.6dbe9"
            ]
        ]
    },
    {
        "id": "9bbf440e.7b9318",
        "type": "api-current-state",
        "z": "e9868773.797078",
        "name": "Light not on yet?",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "override_topic": false,
        "entity_id": "light.outside_front",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 610,
        "y": 660,
        "wires": [
            [
                "8d820114.af30f",
                "f5496d07.f22e4"
            ],
            []
        ]
    },
    {
        "id": "f5496d07.f22e4",
        "type": "api-call-service",
        "z": "e9868773.797078",
        "name": "Turn on light",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.outside_front",
        "data": "{\"brightness_pct\":100}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 890,
        "y": 680,
        "wires": [
            [
                "e259cd14.39ed5"
            ]
        ]
    },
    {
        "id": "188eb2ed.d8ca8d",
        "type": "change",
        "z": "e9868773.797078",
        "name": "Stop timer msg",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 780,
        "wires": [
            [
                "2741eb95.e54344"
            ]
        ]
    },
    {
        "id": "2741eb95.e54344",
        "type": "stoptimer",
        "z": "e9868773.797078",
        "duration": "5",
        "units": "Minute",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "",
        "x": 660,
        "y": 860,
        "wires": [
            [
                "20ddb03f.050fa",
                "c19e807c.79ea8"
            ],
            []
        ]
    },
    {
        "id": "20ddb03f.050fa",
        "type": "api-call-service",
        "z": "e9868773.797078",
        "name": "Turn off light",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.outside_front",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 890,
        "y": 860,
        "wires": [
            [
                "e259cd14.39ed5"
            ]
        ]
    },
    {
        "id": "8d820114.af30f",
        "type": "change",
        "z": "e9868773.797078",
        "name": "Mark light on by motion",
        "rules": [
            {
                "t": "set",
                "p": "did_turn_light_on",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "564a61f6.d4c24",
        "type": "switch",
        "z": "e9868773.797078",
        "name": "Is on from open/close?",
        "property": "did_turn_light_on",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 380,
        "y": 860,
        "wires": [
            [
                "2741eb95.e54344"
            ]
        ]
    },
    {
        "id": "a9c95ae4.58e688",
        "type": "api-current-state",
        "z": "e9868773.797078",
        "name": "Is dark?",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "outputs": 2,
        "halt_if": "below_horizon",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "sun.sun",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 340,
        "y": 700,
        "wires": [
            [
                "9bbf440e.7b9318",
                "188eb2ed.d8ca8d",
                "f86bebf4.644dc8"
            ],
            []
        ]
    },
    {
        "id": "c19e807c.79ea8",
        "type": "change",
        "z": "e9868773.797078",
        "name": "Clear light on by motion or user",
        "rules": [
            {
                "t": "set",
                "p": "did_turn_light_on",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "e259cd14.39ed5",
        "type": "api-call-service",
        "z": "e9868773.797078",
        "name": "Log execution to HA logbook",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "logbook",
        "service": "log",
        "entityId": "",
        "data": "{\"name\":\"node-red\",\"message\":\"Front Door Entry/Exit flow executed successfully.\",\"domain\":\"automation\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1160,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "41ce2ec4.d116b",
        "type": "server-state-changed",
        "z": "e9868773.797078",
        "name": "Was light turned off by this or user?",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "light.outside_front",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 620,
        "y": 980,
        "wires": [
            [
                "c19e807c.79ea8"
            ],
            []
        ]
    },
    {
        "id": "972b9388.f671a",
        "type": "server-state-changed",
        "z": "884319a9.e92148",
        "name": "Foyer Motion Event",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.multi_sensor_st_kitchen_door_openclose",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "jsonata",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 90,
        "y": 600,
        "wires": [
            [
                "210c5d3b.b91672"
            ]
        ]
    },
    {
        "id": "210c5d3b.b91672",
        "type": "switch",
        "z": "884319a9.e92148",
        "name": "Motion On or Off?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 130,
        "y": 780,
        "wires": [
            [
                "b49bc2c6.fad6d",
                "596d5487.fcaf4c"
            ],
            [
                "7ec47fa6.5f3d9"
            ]
        ]
    },
    {
        "id": "70032b8c.d97914",
        "type": "api-current-state",
        "z": "884319a9.e92148",
        "name": "Light not on yet?",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "override_topic": false,
        "entity_id": "light.outside_kitchen",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 610,
        "y": 700,
        "wires": [
            [
                "a9086fd2.b11ff",
                "fd751f58.f70dc"
            ],
            []
        ]
    },
    {
        "id": "fd751f58.f70dc",
        "type": "api-call-service",
        "z": "884319a9.e92148",
        "name": "Turn on light",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.outside_kitchen",
        "data": "{\"brightness_pct\":100}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 890,
        "y": 720,
        "wires": [
            [
                "9dcd21d6.76638"
            ]
        ]
    },
    {
        "id": "e3887ade.188898",
        "type": "change",
        "z": "884319a9.e92148",
        "name": "Stop timer msg",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 820,
        "wires": [
            [
                "45061cb8.b1e6c4"
            ]
        ]
    },
    {
        "id": "45061cb8.b1e6c4",
        "type": "stoptimer",
        "z": "884319a9.e92148",
        "duration": "5",
        "units": "Minute",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "",
        "x": 660,
        "y": 900,
        "wires": [
            [
                "5234748.55c1a8c",
                "c25cc010.43d42"
            ],
            []
        ]
    },
    {
        "id": "5234748.55c1a8c",
        "type": "api-call-service",
        "z": "884319a9.e92148",
        "name": "Turn off light",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.outside_kitchen",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 890,
        "y": 900,
        "wires": [
            [
                "9dcd21d6.76638"
            ]
        ]
    },
    {
        "id": "a9086fd2.b11ff",
        "type": "change",
        "z": "884319a9.e92148",
        "name": "Mark light on by motion",
        "rules": [
            {
                "t": "set",
                "p": "did_turn_light_on",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "7ec47fa6.5f3d9",
        "type": "switch",
        "z": "884319a9.e92148",
        "name": "Is on from open/close?",
        "property": "did_turn_light_on",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 260,
        "y": 840,
        "wires": [
            [
                "16446335.cbdf7d"
            ]
        ]
    },
    {
        "id": "b49bc2c6.fad6d",
        "type": "api-current-state",
        "z": "884319a9.e92148",
        "name": "Is dark?",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "outputs": 2,
        "halt_if": "below_horizon",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "sun.sun",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 340,
        "y": 740,
        "wires": [
            [
                "70032b8c.d97914",
                "e3887ade.188898"
            ],
            []
        ]
    },
    {
        "id": "c25cc010.43d42",
        "type": "change",
        "z": "884319a9.e92148",
        "name": "Clear light on by motion or user",
        "rules": [
            {
                "t": "set",
                "p": "did_turn_light_on",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "9dcd21d6.76638",
        "type": "api-call-service",
        "z": "884319a9.e92148",
        "name": "Log execution to HA logbook",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "logbook",
        "service": "log",
        "entityId": "",
        "data": "{\"name\":\"node-red\",\"message\":\"Kitchen Door Entry/Exit flow executed successfully.\",\"domain\":\"automation\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1160,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "77fda051.60df5",
        "type": "server-state-changed",
        "z": "884319a9.e92148",
        "name": "Was light turned off by this or user?",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "light.outside_kitchen",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 620,
        "y": 1060,
        "wires": [
            [
                "c25cc010.43d42"
            ],
            []
        ]
    },
    {
        "id": "f86bebf4.644dc8",
        "type": "link out",
        "z": "e9868773.797078",
        "name": "Out: Front Door Open After Dark Triggered",
        "links": [
            "efb9ed8a.2ea77"
        ],
        "x": 555,
        "y": 580,
        "wires": []
    },
    {
        "id": "efb9ed8a.2ea77",
        "type": "link in",
        "z": "884319a9.e92148",
        "name": "In: Front Door Open After Dark Triggered",
        "links": [
            "f86bebf4.644dc8"
        ],
        "x": 435,
        "y": 620,
        "wires": [
            [
                "70032b8c.d97914",
                "e3887ade.188898"
            ]
        ]
    },
    {
        "id": "16446335.cbdf7d",
        "type": "api-current-state",
        "z": "884319a9.e92148",
        "name": "Is front door closed?",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "binary_sensor.multi_sensor_st_front_door_openclose",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 400,
        "y": 900,
        "wires": [
            [
                "db2d66d0.bc1d68"
            ],
            []
        ]
    },
    {
        "id": "db2d66d0.bc1d68",
        "type": "api-current-state",
        "z": "884319a9.e92148",
        "name": "Is kitchen door closed?",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "binary_sensor.multi_sensor_st_kitchen_door_openclose",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 440,
        "y": 960,
        "wires": [
            [
                "45061cb8.b1e6c4"
            ],
            []
        ]
    },
    {
        "id": "330b6021.6dbe9",
        "type": "link out",
        "z": "e9868773.797078",
        "name": "Out: Front Door Closed Triggered",
        "links": [
            "944af35a.97916"
        ],
        "x": 295,
        "y": 940,
        "wires": []
    },
    {
        "id": "944af35a.97916",
        "type": "link in",
        "z": "884319a9.e92148",
        "name": "In: Front Door Closed Triggered",
        "links": [
            "330b6021.6dbe9"
        ],
        "x": 115,
        "y": 940,
        "wires": [
            [
                "7ec47fa6.5f3d9"
            ]
        ]
    },
    {
        "id": "91df9e5d.73c7c",
        "type": "server-state-changed",
        "z": "35ab222c.a6eb9e",
        "name": "Foyer Motion Event",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.motion_sensor_eco_downstairs_hallway",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "jsonata",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 90,
        "y": 600,
        "wires": [
            [
                "19a3e8f6.8fed97"
            ]
        ]
    },
    {
        "id": "19a3e8f6.8fed97",
        "type": "switch",
        "z": "35ab222c.a6eb9e",
        "name": "Motion On or Off?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 130,
        "y": 740,
        "wires": [
            [
                "4afa2ec9.d218",
                "6108431a.4459bc"
            ],
            [
                "1ae52074.bfe95"
            ]
        ]
    },
    {
        "id": "ec7a30c8.1f8a8",
        "type": "api-current-state",
        "z": "35ab222c.a6eb9e",
        "name": "Light not on yet?",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "override_topic": false,
        "entity_id": "group.downstairs_hallway",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 610,
        "y": 660,
        "wires": [
            [
                "349190a0.746a8",
                "c5646bb.48f7798"
            ],
            []
        ]
    },
    {
        "id": "8e2ed4f8.60bd58",
        "type": "api-call-service",
        "z": "35ab222c.a6eb9e",
        "name": "Turn on light (max)",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "group.downstairs_hallway",
        "data": "{\"brightness_pct\":100}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1070,
        "y": 760,
        "wires": [
            [
                "6f413a4d.18e804"
            ]
        ]
    },
    {
        "id": "54f9b66e.05ccf8",
        "type": "change",
        "z": "35ab222c.a6eb9e",
        "name": "Stop timer msg",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 780,
        "wires": [
            [
                "6cdc156c.a958fc"
            ]
        ]
    },
    {
        "id": "6cdc156c.a958fc",
        "type": "stoptimer",
        "z": "35ab222c.a6eb9e",
        "duration": "2",
        "units": "Minute",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "",
        "x": 660,
        "y": 860,
        "wires": [
            [
                "1799c660.6158da",
                "3ff24a8.bc04db6"
            ],
            []
        ]
    },
    {
        "id": "1799c660.6158da",
        "type": "api-call-service",
        "z": "35ab222c.a6eb9e",
        "name": "Turn off light",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "group.downstairs_hallway",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1030,
        "y": 880,
        "wires": [
            [
                "6f413a4d.18e804"
            ]
        ]
    },
    {
        "id": "349190a0.746a8",
        "type": "change",
        "z": "35ab222c.a6eb9e",
        "name": "Mark light on by motion",
        "rules": [
            {
                "t": "set",
                "p": "did_turn_light_on",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "1ae52074.bfe95",
        "type": "switch",
        "z": "35ab222c.a6eb9e",
        "name": "Is on from motion?",
        "property": "did_turn_light_on",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 370,
        "y": 860,
        "wires": [
            [
                "6cdc156c.a958fc"
            ]
        ]
    },
    {
        "id": "4afa2ec9.d218",
        "type": "api-current-state",
        "z": "35ab222c.a6eb9e",
        "name": "Is dark?",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "outputs": 2,
        "halt_if": "below_horizon",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "sun.sun",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 340,
        "y": 700,
        "wires": [
            [
                "ec7a30c8.1f8a8",
                "54f9b66e.05ccf8"
            ],
            []
        ]
    },
    {
        "id": "3ff24a8.bc04db6",
        "type": "change",
        "z": "35ab222c.a6eb9e",
        "name": "Clear light on by motion or user",
        "rules": [
            {
                "t": "set",
                "p": "did_turn_light_on",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "6f413a4d.18e804",
        "type": "api-call-service",
        "z": "35ab222c.a6eb9e",
        "name": "Log execution to HA logbook",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "logbook",
        "service": "log",
        "entityId": "",
        "data": "{\"name\":\"node-red\",\"message\":\"Downstairs Hallway Motion flow executed successfully.\",\"domain\":\"automation\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1380,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "3e3df2a5.c9761e",
        "type": "server-state-changed",
        "z": "35ab222c.a6eb9e",
        "name": "Was light turned off by this or user?",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "group.downstairs_hallway",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 620,
        "y": 980,
        "wires": [
            [
                "3ff24a8.bc04db6"
            ],
            []
        ]
    },
    {
        "id": "c5646bb.48f7798",
        "type": "time-range-switch",
        "z": "35ab222c.a6eb9e",
        "name": "Is night-light time?",
        "lat": "",
        "lon": "",
        "startTime": "21:00",
        "endTime": "05:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 850,
        "y": 720,
        "wires": [
            [
                "8b6e9372.7f0e2"
            ],
            [
                "8e2ed4f8.60bd58"
            ]
        ]
    },
    {
        "id": "8b6e9372.7f0e2",
        "type": "api-call-service",
        "z": "35ab222c.a6eb9e",
        "name": "Turn on light (dim)",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "group.downstairs_hallway",
        "data": "{\"brightness\":1}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1070,
        "y": 680,
        "wires": [
            [
                "6f413a4d.18e804"
            ]
        ]
    },
    {
        "id": "b6d92969.1e42f8",
        "type": "server-state-changed",
        "z": "390fc521.dffd0a",
        "name": "JC's Plex on Shield (MrMC) changed",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "media_player.plex_jc_shield_mrmc",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 240,
        "y": 340,
        "wires": [
            [
                "86d81007.82813"
            ]
        ]
    },
    {
        "id": "95214922.2b0cf8",
        "type": "server-state-changed",
        "z": "390fc521.dffd0a",
        "name": "JC's Plex on Shield (Plex) changed",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "media_player.plex_jc_shield_plex",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 240,
        "y": 420,
        "wires": [
            [
                "86d81007.82813"
            ]
        ]
    },
    {
        "id": "86d81007.82813",
        "type": "switch",
        "z": "390fc521.dffd0a",
        "name": "New play/pause state?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "playing",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "paused",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 520,
        "y": 380,
        "wires": [
            [
                "7d8308dc.e52bb8",
                "1b9c8db9.b485c2"
            ],
            [
                "bca4e90.5a43f18"
            ]
        ]
    },
    {
        "id": "818717c2.dbe6e8",
        "type": "api-call-service",
        "z": "390fc521.dffd0a",
        "name": "Turn off non-living room lights",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "group.not_living_room_lights",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1050,
        "y": 360,
        "wires": [
            [
                "adc3ea04.4a0798"
            ]
        ]
    },
    {
        "id": "adc3ea04.4a0798",
        "type": "api-call-service",
        "z": "390fc521.dffd0a",
        "name": "Log execution to HA logbook",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "logbook",
        "service": "log",
        "entityId": "",
        "data": "{\"name\":\"node-red\",\"message\":\"Living Room Media flow executed successfully.\",\"domain\":\"automation\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1400,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "904c234f.3223e",
        "type": "api-current-state",
        "z": "390fc521.dffd0a",
        "name": "Light not on yet?",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "override_topic": false,
        "entity_id": "group.living_room",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 770,
        "y": 540,
        "wires": [
            [
                "8807a907.455148",
                "35b24348.f405bc"
            ],
            []
        ]
    },
    {
        "id": "8807a907.455148",
        "type": "change",
        "z": "390fc521.dffd0a",
        "name": "Mark light on by pause",
        "rules": [
            {
                "t": "set",
                "p": "did_turn_light_on",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "bca4e90.5a43f18",
        "type": "api-current-state",
        "z": "390fc521.dffd0a",
        "name": "Is dark?",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "outputs": 2,
        "halt_if": "below_horizon",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "sun.sun",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 720,
        "y": 440,
        "wires": [
            [
                "904c234f.3223e"
            ],
            []
        ]
    },
    {
        "id": "1ada85ab.c1fa2a",
        "type": "change",
        "z": "390fc521.dffd0a",
        "name": "Clear light on by pause or user",
        "rules": [
            {
                "t": "set",
                "p": "did_turn_light_on",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "4f29d4bd.23044c",
        "type": "server-state-changed",
        "z": "390fc521.dffd0a",
        "name": "Was light turned off by this or user?",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "group.living_room",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 980,
        "y": 180,
        "wires": [
            [
                "1ada85ab.c1fa2a"
            ],
            []
        ]
    },
    {
        "id": "35b24348.f405bc",
        "type": "api-call-service",
        "z": "390fc521.dffd0a",
        "name": "Turn on light (dim)",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "group.living_room",
        "data": "{\"brightness\":1}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1030,
        "y": 480,
        "wires": [
            [
                "adc3ea04.4a0798"
            ]
        ]
    },
    {
        "id": "7d8308dc.e52bb8",
        "type": "switch",
        "z": "390fc521.dffd0a",
        "name": "Is on from pause?",
        "property": "did_turn_light_on",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 770,
        "y": 280,
        "wires": [
            [
                "5a0ce2de.6ff3cc"
            ]
        ]
    },
    {
        "id": "5a0ce2de.6ff3cc",
        "type": "api-call-service",
        "z": "390fc521.dffd0a",
        "name": "Turn off living room lights",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "group.living_room",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1010,
        "y": 280,
        "wires": [
            [
                "1ada85ab.c1fa2a",
                "adc3ea04.4a0798"
            ]
        ]
    },
    {
        "id": "1b9c8db9.b485c2",
        "type": "api-current-state",
        "z": "390fc521.dffd0a",
        "name": "Single occupant?",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "outputs": 2,
        "halt_if": "true",
        "halt_if_type": "bool",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.single_occupant",
        "state_type": "habool",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 770,
        "y": 360,
        "wires": [
            [
                "818717c2.dbe6e8"
            ],
            []
        ]
    },
    {
        "id": "d8b81ae0.0bc7a8",
        "type": "server-state-changed",
        "z": "3aefc8fa.f61958",
        "name": "Flagged to relinquish to motion?",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.pending_relinquish_to_motion",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "habool",
        "haltifstate": "true",
        "halt_if_type": "bool",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 250,
        "y": 340,
        "wires": [
            [
                "a61fab4f.a57358",
                "2d335beb.472f24"
            ],
            []
        ]
    },
    {
        "id": "a61fab4f.a57358",
        "type": "api-call-service",
        "z": "3aefc8fa.f61958",
        "name": "Cleared relinquish to motion flag",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_off",
        "entityId": "input_boolean.pending_relinquish_to_motion",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 570,
        "y": 340,
        "wires": [
            [
                "4b58f2c7.24c89c"
            ]
        ]
    },
    {
        "id": "4b58f2c7.24c89c",
        "type": "api-call-service",
        "z": "3aefc8fa.f61958",
        "name": "Log execution to HA logbook",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "logbook",
        "service": "log",
        "entityId": "",
        "data": "{\"name\":\"node-red\",\"message\":\"Relinquish to Motion flow executed successfully.\",\"domain\":\"automation\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 880,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "2d335beb.472f24",
        "type": "link out",
        "z": "3aefc8fa.f61958",
        "name": "Out: Relinquish to Motion Triggered",
        "links": [
            "7f8b4961.f338b8",
            "353a3d0e.03da72",
            "973aca54.e38288",
            "864ed584.5c4428",
            "f09dd37f.d3265"
        ],
        "x": 475,
        "y": 220,
        "wires": []
    },
    {
        "id": "7f8b4961.f338b8",
        "type": "link in",
        "z": "1d296556.09592b",
        "name": "In: Relinquish to Motion Triggered",
        "links": [
            "2d335beb.472f24"
        ],
        "x": 475,
        "y": 420,
        "wires": [
            [
                "a73637f4.3f6a78"
            ]
        ]
    },
    {
        "id": "a73637f4.3f6a78",
        "type": "api-current-state",
        "z": "1d296556.09592b",
        "name": "Light already on?",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "light.foyer",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 630,
        "y": 420,
        "wires": [
            [
                "442100ee.26b29"
            ],
            []
        ]
    },
    {
        "id": "353a3d0e.03da72",
        "type": "link in",
        "z": "62ce34cf.a7671c",
        "name": "In: Relinquish to Motion Triggered",
        "links": [
            "2d335beb.472f24"
        ],
        "x": 455,
        "y": 520,
        "wires": [
            [
                "d8c66ca7.f0a49"
            ]
        ]
    },
    {
        "id": "d8c66ca7.f0a49",
        "type": "api-current-state",
        "z": "62ce34cf.a7671c",
        "name": "Light already on?",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "group.upstairs_hallway",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 610,
        "y": 520,
        "wires": [
            [
                "dd8ba79c.bea668"
            ],
            []
        ]
    },
    {
        "id": "973aca54.e38288",
        "type": "link in",
        "z": "35ab222c.a6eb9e",
        "name": "In: Relinquish to Motion Triggered",
        "links": [
            "2d335beb.472f24"
        ],
        "x": 455,
        "y": 580,
        "wires": [
            [
                "fdc477b1.2f4c28"
            ]
        ]
    },
    {
        "id": "fdc477b1.2f4c28",
        "type": "api-current-state",
        "z": "35ab222c.a6eb9e",
        "name": "Light already on?",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "group.downstairs_hallway",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 610,
        "y": 580,
        "wires": [
            [
                "349190a0.746a8"
            ],
            []
        ]
    },
    {
        "id": "864ed584.5c4428",
        "type": "link in",
        "z": "e9868773.797078",
        "name": "In: Relinquish to Motion Triggered",
        "links": [
            "2d335beb.472f24"
        ],
        "x": 455,
        "y": 520,
        "wires": [
            [
                "d060b09f.a0a13"
            ]
        ]
    },
    {
        "id": "d060b09f.a0a13",
        "type": "api-current-state",
        "z": "e9868773.797078",
        "name": "Light already on?",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "light.outside_front",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 610,
        "y": 520,
        "wires": [
            [
                "8d820114.af30f"
            ],
            []
        ]
    },
    {
        "id": "f09dd37f.d3265",
        "type": "link in",
        "z": "884319a9.e92148",
        "name": "In: Relinquish to Motion Triggered",
        "links": [
            "2d335beb.472f24"
        ],
        "x": 435,
        "y": 560,
        "wires": [
            [
                "26c8be2e.7537e2"
            ]
        ]
    },
    {
        "id": "26c8be2e.7537e2",
        "type": "api-current-state",
        "z": "884319a9.e92148",
        "name": "Light already on?",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "light.outside_kitchen",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 610,
        "y": 560,
        "wires": [
            [
                "a9086fd2.b11ff"
            ],
            []
        ]
    },
    {
        "id": "1e3cfe7.c8f8702",
        "type": "switch",
        "z": "1d296556.09592b",
        "name": "Is on from motion?",
        "property": "did_turn_light_on",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 370,
        "y": 480,
        "wires": [
            [
                "d2caa878.c990f8",
                "7c5a2e5c.bd53"
            ]
        ]
    },
    {
        "id": "e2377e7b.8d444",
        "type": "switch",
        "z": "62ce34cf.a7671c",
        "name": "Is on from motion?",
        "property": "did_turn_light_on",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 350,
        "y": 580,
        "wires": [
            [
                "ba91b17f.0c531",
                "7a861800.e44a98"
            ]
        ]
    },
    {
        "id": "6108431a.4459bc",
        "type": "switch",
        "z": "35ab222c.a6eb9e",
        "name": "Is on from motion?",
        "property": "did_turn_light_on",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 350,
        "y": 640,
        "wires": [
            [
                "54f9b66e.05ccf8",
                "ec7a30c8.1f8a8"
            ]
        ]
    },
    {
        "id": "173f58f.68101a7",
        "type": "switch",
        "z": "e9868773.797078",
        "name": "Is on from open/close?",
        "property": "did_turn_light_on",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 320,
        "y": 640,
        "wires": [
            [
                "f86bebf4.644dc8",
                "9bbf440e.7b9318",
                "188eb2ed.d8ca8d"
            ]
        ]
    },
    {
        "id": "596d5487.fcaf4c",
        "type": "switch",
        "z": "884319a9.e92148",
        "name": "Is on from open/close?",
        "property": "did_turn_light_on",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 320,
        "y": 680,
        "wires": [
            [
                "70032b8c.d97914",
                "e3887ade.188898"
            ]
        ]
    },
    {
        "id": "d513b5b1.6f0e18",
        "type": "server-state-changed",
        "z": "c35af4f2.4cd108",
        "name": "Phone arrived home",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "device_tracker.sm_n970u",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 350,
        "y": 520,
        "wires": [
            [
                "229f2e70.a0b3a2",
                "17d225c7.3c968a"
            ],
            []
        ]
    },
    {
        "id": "229f2e70.a0b3a2",
        "type": "api-call-service",
        "z": "c35af4f2.4cd108",
        "name": "Log execution to HA logbook",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "logbook",
        "service": "log",
        "entityId": "",
        "data": "{\"name\":\"node-red\",\"message\":\"Phone Location flow executed successfully.\",\"domain\":\"automation\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 640,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "17d225c7.3c968a",
        "type": "link out",
        "z": "c35af4f2.4cd108",
        "name": "Out: Phone Arrived Home",
        "links": [
            "c578334b.d5d9d"
        ],
        "x": 535,
        "y": 460,
        "wires": []
    },
    {
        "id": "c578334b.d5d9d",
        "type": "link in",
        "z": "e9868773.797078",
        "name": "In: Phone Arrived Home",
        "links": [
            "17d225c7.3c968a"
        ],
        "x": 295,
        "y": 780,
        "wires": [
            [
                "a9c95ae4.58e688"
            ]
        ]
    }
]