node-red/flows.json
[
    {
        "id": "bf163cd5.f84c",
        "type": "tab",
        "label": "Office Light Button",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4c3e78a1.ebb138",
        "type": "tab",
        "label": "Master Bedroom Light Button",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7b5378f9.154968",
        "type": "tab",
        "label": "Kitchen Light Button",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1d296556.09592b",
        "type": "tab",
        "label": "Foyer Motion",
        "disabled": false,
        "info": ""
    },
    {
        "id": "62ce34cf.a7671c",
        "type": "tab",
        "label": "Upstairs Hallway Motion",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2f5bd1e0.67e40e",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    },
    {
        "id": "3cae343.22b5bcc",
        "type": "server-events",
        "z": "bf163cd5.f84c",
        "name": " Deconz Event (any)",
        "server": "2f5bd1e0.67e40e",
        "event_type": "deconz_event",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "d23b825e.b2605"
            ]
        ]
    },
    {
        "id": "d23b825e.b2605",
        "type": "switch",
        "z": "bf163cd5.f84c",
        "name": "Is Office Button?",
        "property": "payload.event.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "button_st_office",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 120,
        "y": 520,
        "wires": [
            [
                "3e59fa2.e73b206"
            ]
        ]
    },
    {
        "id": "3b8bc8cf.939ae8",
        "type": "api-call-service",
        "z": "bf163cd5.f84c",
        "name": "Toggle office lights",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "toggle",
        "entityId": "group.office",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 550,
        "y": 520,
        "wires": [
            [
                "ac86b665.134f48"
            ]
        ]
    },
    {
        "id": "3e59fa2.e73b206",
        "type": "switch",
        "z": "bf163cd5.f84c",
        "name": "Is press?",
        "property": "payload.event.event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1002",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 340,
        "y": 520,
        "wires": [
            [
                "3b8bc8cf.939ae8"
            ]
        ]
    },
    {
        "id": "ac86b665.134f48",
        "type": "api-call-service",
        "z": "bf163cd5.f84c",
        "name": "Log execution to HA logbook",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "logbook",
        "service": "log",
        "entityId": "",
        "data": "{\"name\":\"node-red\",\"message\":\"Office Light Button flow executed successfully.\",\"domain\":\"automation\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 840,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "a30fb6e1.491408",
        "type": "server-events",
        "z": "4c3e78a1.ebb138",
        "name": " Deconz Event (any)",
        "server": "2f5bd1e0.67e40e",
        "event_type": "deconz_event",
        "x": 90,
        "y": 460,
        "wires": [
            [
                "aad4aa21.577a98"
            ]
        ]
    },
    {
        "id": "aad4aa21.577a98",
        "type": "switch",
        "z": "4c3e78a1.ebb138",
        "name": "Is Master Bedroom Button?",
        "property": "payload.event.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "button_st_master_bedroom",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 120,
        "y": 580,
        "wires": [
            [
                "b3772296.72252"
            ]
        ]
    },
    {
        "id": "52b13ab7.819424",
        "type": "api-call-service",
        "z": "4c3e78a1.ebb138",
        "name": "Toggle master bedroom lights",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "toggle",
        "entityId": "group.master_bedroom",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 570,
        "y": 580,
        "wires": [
            [
                "17f19bed.57f464"
            ]
        ]
    },
    {
        "id": "b3772296.72252",
        "type": "switch",
        "z": "4c3e78a1.ebb138",
        "name": "Is press?",
        "property": "payload.event.event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1002",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 340,
        "y": 580,
        "wires": [
            [
                "52b13ab7.819424"
            ]
        ]
    },
    {
        "id": "17f19bed.57f464",
        "type": "api-call-service",
        "z": "4c3e78a1.ebb138",
        "name": "Log execution to HA logbook",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "logbook",
        "service": "log",
        "entityId": "",
        "data": "{\"name\":\"node-red\",\"message\":\"Master Bedroom Light Button flow executed successfully.\",\"domain\":\"automation\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 880,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "b5afe504.c99e68",
        "type": "server-events",
        "z": "7b5378f9.154968",
        "name": " Deconz Event (any)",
        "server": "2f5bd1e0.67e40e",
        "event_type": "deconz_event",
        "x": 90,
        "y": 440,
        "wires": [
            [
                "50780152.d8fb8"
            ]
        ]
    },
    {
        "id": "50780152.d8fb8",
        "type": "switch",
        "z": "7b5378f9.154968",
        "name": "Is Kitchen Button?",
        "property": "payload.event.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "button_st_kitchen",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 90,
        "y": 560,
        "wires": [
            [
                "57754fcc.df72e"
            ]
        ]
    },
    {
        "id": "e1166209.a2d2e",
        "type": "api-call-service",
        "z": "7b5378f9.154968",
        "name": "Toggle kitchen lights",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "toggle",
        "entityId": "group.kitchen",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 520,
        "y": 560,
        "wires": [
            [
                "5c4fa7d4.fd52b8"
            ]
        ]
    },
    {
        "id": "57754fcc.df72e",
        "type": "switch",
        "z": "7b5378f9.154968",
        "name": "Is press?",
        "property": "payload.event.event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1002",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 300,
        "y": 560,
        "wires": [
            [
                "e1166209.a2d2e"
            ]
        ]
    },
    {
        "id": "5c4fa7d4.fd52b8",
        "type": "api-call-service",
        "z": "7b5378f9.154968",
        "name": "Log execution to HA logbook",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "logbook",
        "service": "log",
        "entityId": "",
        "data": "{\"name\":\"node-red\",\"message\":\"Kitchen Light Button flow executed successfully.\",\"domain\":\"automation\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 800,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "948486bf.0ffe48",
        "type": "server-state-changed",
        "z": "1d296556.09592b",
        "name": "Foyer Motion Event",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "entityidfilter": "binary_sensor.motion_sensor_hue_foyer",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "jsonata",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 110,
        "y": 440,
        "wires": [
            [
                "cd526cf1.d6312"
            ]
        ]
    },
    {
        "id": "cd526cf1.d6312",
        "type": "switch",
        "z": "1d296556.09592b",
        "name": "Motion On or Off?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 150,
        "y": 580,
        "wires": [
            [
                "881f2136.3abd6"
            ],
            [
                "af9ec202.685c7"
            ]
        ]
    },
    {
        "id": "7c5a2e5c.bd53",
        "type": "api-current-state",
        "z": "1d296556.09592b",
        "name": "Light already on?",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "light.foyer",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 630,
        "y": 500,
        "wires": [
            [],
            [
                "37b07451.e12c2c",
                "442100ee.26b29"
            ]
        ]
    },
    {
        "id": "37b07451.e12c2c",
        "type": "api-call-service",
        "z": "1d296556.09592b",
        "name": "Turn on light",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.foyer",
        "data": "{\"brightness_pct\":100}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 910,
        "y": 520,
        "wires": [
            [
                "4160fc3e.761454"
            ]
        ]
    },
    {
        "id": "d2caa878.c990f8",
        "type": "change",
        "z": "1d296556.09592b",
        "name": "Stop timer msg",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 620,
        "wires": [
            [
                "c6f41175.b52d8"
            ]
        ]
    },
    {
        "id": "c6f41175.b52d8",
        "type": "stoptimer",
        "z": "1d296556.09592b",
        "duration": "5",
        "units": "Minute",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "",
        "x": 680,
        "y": 700,
        "wires": [
            [
                "c4018f.d5e0ee7",
                "9ffcaf57.a5da"
            ],
            []
        ]
    },
    {
        "id": "c4018f.d5e0ee7",
        "type": "api-call-service",
        "z": "1d296556.09592b",
        "name": "Turn off light",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.foyer",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 910,
        "y": 700,
        "wires": [
            [
                "4160fc3e.761454"
            ]
        ]
    },
    {
        "id": "442100ee.26b29",
        "type": "change",
        "z": "1d296556.09592b",
        "name": "Mark light on by motion",
        "rules": [
            {
                "t": "set",
                "p": "did_turn_light_on",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "af9ec202.685c7",
        "type": "switch",
        "z": "1d296556.09592b",
        "name": "Is on from motion?",
        "property": "did_turn_light_on",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 390,
        "y": 700,
        "wires": [
            [
                "c6f41175.b52d8"
            ]
        ]
    },
    {
        "id": "881f2136.3abd6",
        "type": "api-current-state",
        "z": "1d296556.09592b",
        "name": "Is dark?",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "outputs": 2,
        "halt_if": "below_horizon",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "sun.sun",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 380,
        "y": 520,
        "wires": [
            [
                "7c5a2e5c.bd53",
                "d2caa878.c990f8"
            ],
            []
        ]
    },
    {
        "id": "9ffcaf57.a5da",
        "type": "change",
        "z": "1d296556.09592b",
        "name": "Clear light on by motion or user",
        "rules": [
            {
                "t": "set",
                "p": "did_turn_light_on",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "4160fc3e.761454",
        "type": "api-call-service",
        "z": "1d296556.09592b",
        "name": "Log execution to HA logbook",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "logbook",
        "service": "log",
        "entityId": "",
        "data": "{\"name\":\"node-red\",\"message\":\"Foyer Motion flow executed successfully.\",\"domain\":\"automation\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1180,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "802a930e.b1d55",
        "type": "server-state-changed",
        "z": "1d296556.09592b",
        "name": "Was light turned off by this or user?",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "light.foyer",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 640,
        "y": 820,
        "wires": [
            [
                "9ffcaf57.a5da"
            ],
            []
        ]
    },
    {
        "id": "8197cbd2.35fcd8",
        "type": "server-state-changed",
        "z": "62ce34cf.a7671c",
        "name": "Foyer Motion Event",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.motion_sensor_eco_upstairs_hallway",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "jsonata",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 90,
        "y": 540,
        "wires": [
            [
                "fb3e86e1.e68a28"
            ]
        ]
    },
    {
        "id": "fb3e86e1.e68a28",
        "type": "switch",
        "z": "62ce34cf.a7671c",
        "name": "Motion On or Off?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 130,
        "y": 680,
        "wires": [
            [
                "ad0c1937.a3d408"
            ],
            [
                "eb2fd5d5.268818"
            ]
        ]
    },
    {
        "id": "7a861800.e44a98",
        "type": "api-current-state",
        "z": "62ce34cf.a7671c",
        "name": "Light already on?",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "group.upstairs_hallway",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 610,
        "y": 600,
        "wires": [
            [],
            [
                "7f74d9fe.189ad8",
                "dd8ba79c.bea668"
            ]
        ]
    },
    {
        "id": "7f74d9fe.189ad8",
        "type": "api-call-service",
        "z": "62ce34cf.a7671c",
        "name": "Turn on light",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "group.upstairs_hallway",
        "data": "{\"brightness_pct\":100}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 890,
        "y": 620,
        "wires": [
            [
                "d9ab294f.c1d178"
            ]
        ]
    },
    {
        "id": "ba91b17f.0c531",
        "type": "change",
        "z": "62ce34cf.a7671c",
        "name": "Stop timer msg",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 720,
        "wires": [
            [
                "cfe91e14.483f7"
            ]
        ]
    },
    {
        "id": "cfe91e14.483f7",
        "type": "stoptimer",
        "z": "62ce34cf.a7671c",
        "duration": "2",
        "units": "Minute",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "",
        "x": 660,
        "y": 800,
        "wires": [
            [
                "dc2ca952.cc4cb8",
                "d36ab12a.bf533"
            ],
            []
        ]
    },
    {
        "id": "dc2ca952.cc4cb8",
        "type": "api-call-service",
        "z": "62ce34cf.a7671c",
        "name": "Turn off light",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "group.upstairs_hallway",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 890,
        "y": 800,
        "wires": [
            [
                "d9ab294f.c1d178"
            ]
        ]
    },
    {
        "id": "dd8ba79c.bea668",
        "type": "change",
        "z": "62ce34cf.a7671c",
        "name": "Mark light on by motion",
        "rules": [
            {
                "t": "set",
                "p": "did_turn_light_on",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "eb2fd5d5.268818",
        "type": "switch",
        "z": "62ce34cf.a7671c",
        "name": "Is on from motion?",
        "property": "did_turn_light_on",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 370,
        "y": 800,
        "wires": [
            [
                "cfe91e14.483f7"
            ]
        ]
    },
    {
        "id": "ad0c1937.a3d408",
        "type": "api-current-state",
        "z": "62ce34cf.a7671c",
        "name": "Is dark?",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "outputs": 2,
        "halt_if": "below_horizon",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "sun.sun",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 360,
        "y": 620,
        "wires": [
            [
                "7a861800.e44a98",
                "ba91b17f.0c531"
            ],
            []
        ]
    },
    {
        "id": "d36ab12a.bf533",
        "type": "change",
        "z": "62ce34cf.a7671c",
        "name": "Clear light on by motion or user",
        "rules": [
            {
                "t": "set",
                "p": "did_turn_light_on",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "d9ab294f.c1d178",
        "type": "api-call-service",
        "z": "62ce34cf.a7671c",
        "name": "Log execution to HA logbook",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "logbook",
        "service": "log",
        "entityId": "",
        "data": "{\"name\":\"node-red\",\"message\":\"Upstairs Hallway Motion flow executed successfully.\",\"domain\":\"automation\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1160,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "218b1457.7387ac",
        "type": "server-state-changed",
        "z": "62ce34cf.a7671c",
        "name": "Was light turned off by this or user?",
        "server": "2f5bd1e0.67e40e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "group.upstairs_hallway",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 620,
        "y": 920,
        "wires": [
            [
                "d36ab12a.bf533"
            ],
            []
        ]
    }
]